@import "../../../custom";

.top {
  display: flex;
  width: 100%;
  min-height: 90px;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f2f2;
  box-sizing: border-box;
  align-items: center;

  .ava {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .text {
    border: 1px solid $txtBlue;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    height: auto;
    margin-right: 20px;
    background: #fff;
    border-radius: 4px;
    color: $txtBlue;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;

    &:focus, &:active {
      outline: none;
    }
  }

  span.text {
    border: 1px dashed #ccc;
    position: relative;
    color: $txtGrey;

  }

  .icons {
    display: flex;
    margin-right: 20px;

    .link {
      color: $txtLightGrey;
      font-size: 14px;
      padding-right: 5px;
      padding-left: 5px;

      &:hover {
        color: $txtBlue;
      }

      .icon {}
    }
  }

  .submit {
    background: #27aae1;
    padding: 10px 25px;
    border: none;
    font-size: 14px;
    color: #fff;
    position: relative;
    font-weight: 600;
    outline: none;
    border-radius: 30px;
    cursor: pointer;

    &:hover {
      background-color: $txtBlueHover;
    }
  }
}