@import-normalize;

$bgLight: #ececec;
$linkColor: #282c34;
$linkHover: #7865c5;

.container  {
  max-width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $linkColor;
  transition: color .1s ease-in-out;

  &:hover {
    color: $linkHover;
  }
}

.main-content {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}