@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

$bgLight: #ececec;
$linkColor: #282c34;
$linkHover: #7865c5;

.iGreen {color: #8dc63f;}
.iPurple {color: #662d91;}
.iPink {color: #ee2a7b;}
.iOrange {color: #f7941e;}
.iBlue {color: #1c75bc;}
.iViolet {color: #9e1f63;}

img {
  max-width: 100%;
}

body {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0  0 10px;
  font-weight: 400;
  font-size: 14px;
}


p {
  line-height: 2em;
}

button, input {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

.container  {
  max-width: 1050px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $linkColor;
  transition: color .1s ease-in-out;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
    color: $linkHover;
  }
}

.main-content {
  display: flex;
  align-items: flex-start;
  padding: 30px 0 50px;
}